$icon-ands-font-family: "ands-icons" !default;
$icon-ands-font-path: "fonts" !default;

$icon-ands-beg: unquote('"\\e900"');
$icon-ands-delivery: unquote('"\\e901"');
$icon-ands-message: unquote('"\\e902"');
$icon-ands-tip: unquote('"\\e903"');
$icon-ands-vault: unquote('"\\e904"');
$icon-ands-close: unquote('"\\e905"');
$icon-ands-delete: unquote('"\\e906"');
$icon-ands-down: unquote('"\\e907"');
$icon-ands-exit: unquote('"\\e908"');
$icon-ands-expand: unquote('"\\e909"');
$icon-ands-left: unquote('"\\e90a"');
$icon-ands-menu: unquote('"\\e90b"');
$icon-ands-minus: unquote('"\\e90c"');
$icon-ands-plus: unquote('"\\e90d"');
$icon-ands-pprogress: unquote('"\\e90e"');
$icon-ands-progress: unquote('"\\e90f"');
$icon-ands-right: unquote('"\\e910"');
$icon-ands-search: unquote('"\\e911"');
$icon-ands-up: unquote('"\\e912"');
$icon-ands-akin-logo: unquote('"\\e913"');
$icon-ands-amenu: unquote('"\\e914"');
$icon-ands-legal: unquote('"\\e915"');
